In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Importing required packages
import pandas as pd
import numpy as np

import os
import gc

from ta_lib.data_utils.data_processing import get_aggregated_data
from ta_lib.core.api import load_yml, create_context

WARNING:param.main: pandas could not register all extension types imports failed with the following error: cannot import name 'ABCIndexClass' from 'pandas.core.dtypes.generic' (/home/mc77916/.conda/envs/mcd-de-dev/lib/python3.8/site-packages/pandas/core/dtypes/generic.py)

In [3]:
# Defining configs

config_path = '../conf/config.yml'
cfg = create_context(config_path)

In [4]:
qty_mis_df = pd.read_csv('Ungrouped_offline_missing_stats.csv')
qty_mis_df = qty_mis_df[(qty_mis_df['qty_fl'].isna())]

qty_mis_df.head(3)

       monthid  sld_menu_itm_id  data_fl  qty_fl  wap_fl
14015   202004             7111      1.0     NaN     NaN
14018   202004             2154      1.0     NaN     NaN
14037   202004             7274      1.0     NaN     NaN

In [5]:
# Getting qty data for missed item and months

In [6]:
get_aggregated_data.get_ungrouped_data(cfg.offline, result_filter='offline', day_level=False, item_level=True, get_price_info=False, 
                                       filter_item=list(qty_mis_df['sld_menu_itm_id'].unique()), 
                                       file_list=['month_id='+str(x)+'01' for x in list(qty_mis_df['monthid'].unique())])

['month_id=20200401', 'month_id=20200501', 'month_id=20200601', 'month_id=20200701', 'month_id=20200801', 'month_id=20200901', 'month_id=20201001', 'month_id=20201101', 'month_id=20201201', 'month_id=20210101', 'month_id=20210201', 'month_id=20210301', 'month_id=20210401', 'month_id=20210501', 'month_id=20210601', 'month_id=20210701']
month_id=20200401  is completed
month_id=20200501  is completed
month_id=20200601  is completed
month_id=20200701  is completed
month_id=20200801  is completed
month_id=20200901  is completed
month_id=20201001  is completed
month_id=20201101  is completed
month_id=20201201  is completed
month_id=20210101  is completed
month_id=20210201  is completed
month_id=20210301  is completed
month_id=20210401  is completed
month_id=20210501  is completed
month_id=20210601  is completed
month_id=20210701  is completed