In [1]:
# Importing required packages

import pandas as pd
import numpy as np

import os
import gc

In [2]:
itm_lvl_path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/ungrouped_data/item_level/'
wap_path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/ungrouped_data/wap/'

itm_df = pd.read_parquet(itm_lvl_path)[['sld_menu_itm_id', 'monthid']].drop_duplicates()
wap_df = pd.read_parquet(wap_path)[['sld_menu_itm_id', 'monthid']].drop_duplicates()

itm_df['qty_fl'] = 1
wap_df['wap_fl'] = 1

itm_df.info()
wap_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24264 entries, 0 to 17242
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sld_menu_itm_id  24264 non-null  category
 1   monthid          24264 non-null  category
 2   qty_fl           24264 non-null  int64
dtypes: category(2), int64(1)
memory usage: 529.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18636 entries, 0 to 17242
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sld_menu_itm_id  18636 non-null  category
 1   monthid          18636 non-null  category
 2   wap_fl           18636 non-null  int64
dtypes: category(2), int64(1)
memory usage: 390.7 KB

In [3]:
# Resetting Index
itm_df = itm_df.reset_index(drop=True)
wap_df = wap_df.reset_index(drop=True)

In [4]:
itm_df['sld_menu_itm_id'] = itm_df['sld_menu_itm_id'].astype('int')
wap_df['sld_menu_itm_id'] = wap_df['sld_menu_itm_id'].astype('int')

itm_df['monthid'] = itm_df['monthid'].astype('int')
wap_df['monthid'] = wap_df['monthid'].astype('int')

In [5]:
wap_df[(wap_df['sld_menu_itm_id'] == 2004)].reset_index(drop=True)

    sld_menu_itm_id  monthid  wap_fl
0              2004   201801       1
1              2004   201802       1
2              2004   201803       1
3              2004   201804       1
4              2004   201805       1
5              2004   201806       1
6              2004   201807       1
7              2004   201808       1
8              2004   201809       1
9              2004   201810       1
10             2004   201811       1
11             2004   201812       1
12             2004   201901       1
13             2004   201902       1
14             2004   201903       1
15             2004   201904       1
16             2004   201905       1
17             2004   201906       1
18             2004   201907       1
19             2004   201908       1
20             2004   201909       1
21             2004   201910       1
22             2004   201911       1
23             2004   201912       1
24             2004   202001       1
25             2004   202002       1

In [6]:
# Finding Missing info
data_df = pd.read_csv('Ungrouped_data_presence.csv')
data_df['data_fl'] = 1
data_df.info()

data_df = data_df.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23718 entries, 0 to 23717
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   monthid          23718 non-null  int64
 1   sld_menu_itm_id  23718 non-null  int64
 2   data_fl          23718 non-null  int64
dtypes: int64(3)
memory usage: 556.0 KB

In [7]:
data_df.head(2)

   monthid  sld_menu_itm_id  data_fl
0   201801             2373        1
1   201801             2361        1

In [8]:
itm_df.head(2)

   sld_menu_itm_id  monthid  qty_fl
0         10000102   201903       1
1         10000102   201904       1

In [9]:
print(itm_df.shape)
print(data_df.shape)

(24264, 3)
(23718, 3)

In [10]:
data_itm_df = data_df.merge(itm_df, on=['sld_menu_itm_id', 'monthid'], how='outer')
data_itm_df = data_itm_df.merge(wap_df, on=['sld_menu_itm_id', 'monthid'], how='outer')

data_itm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24404 entries, 0 to 24403
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   monthid          24404 non-null  int64
 1   sld_menu_itm_id  24404 non-null  int64
 2   data_fl          23718 non-null  float64
 3   qty_fl           24264 non-null  float64
 4   wap_fl           18636 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 1.1 MB

In [11]:
data_itm_df.to_csv('Ungrouped_offline_missing_stats.csv', index=False)