In [1]:
# Importing required packages
import pandas as pd
import numpy as np

import os
import gc

In [4]:
path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/grouped/item_level/'

df = pd.read_parquet(path)

df.head()

      pos_busn_dt  num_trans  quantity sld_menu_itm_id monthid
index
0      2018-01-01         16        19            1005  201801
1      2018-01-02        509       580            1005  201801
2      2018-01-03        604       681            1005  201801
3      2018-01-04        706       779            1005  201801
4      2018-01-05        643       723            1005  201801

In [6]:
df[(df['sld_menu_itm_id'].isin([2240, 2302, 2100, 2350, 2010, 4060, 4065, 4070]))].to_parquet('grouped_units.parquet')