In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/ungrouped_data/wap/'

df=pd.DataFrame()
for item in os.listdir(path) :
    for month in os.listdir(path + item) :
        for file in os.listdir(path + item + '/' + month) :
            
            temp_df = pd.read_parquet(path + item + '/' + month + '/' + file)
            temp_df['sld_menu_itm_id'] = item.split('=')[1]
            df = pd.concat([df, temp_df])

df.head()

      pos_busn_dt     WAP  Mode_price sld_menu_itm_id
12632  2021-08-10  239.19       229.0            8663
12633  2021-08-11  236.61       229.0            8663
12634  2021-08-12  239.66       229.0            8663
12635  2021-08-13  242.00       229.0            8663
12636  2021-08-14  240.74       244.0            8663

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465424 entries, 12632 to 29
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pos_busn_dt      465424 non-null  datetime64[ns]
 1   WAP              465146 non-null  float64
 2   Mode_price       463495 non-null  float64
 3   sld_menu_itm_id  465424 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.8+ MB

In [5]:
gr_path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/grouped/wap/'

gr_df=pd.DataFrame()
for item in os.listdir(gr_path) :
    if 'metadata' not in item :
        for month in os.listdir(gr_path + item) :
            for file in os.listdir(gr_path + item + '/' + month) :

                temp_df = pd.read_parquet(gr_path + item + '/' + month + '/' + file)
                temp_df['sld_menu_itm_id'] = item.split('=')[1]
                gr_df = pd.concat([gr_df, temp_df])

gr_df.head()

      pos_busn_dt     WAP  Mode_price sld_menu_itm_id
11930  2021-08-10  239.19       229.0            8663
11931  2021-08-11  236.61       229.0            8663
11932  2021-08-12  239.66       229.0            8663
11933  2021-08-13  242.00       229.0            8663
11934  2021-08-14  240.74       244.0            8663

In [6]:
gr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562768 entries, 11930 to 11929
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pos_busn_dt      562768 non-null  datetime64[ns]
 1   WAP              562581 non-null  float64
 2   Mode_price       560582 non-null  float64
 3   sld_menu_itm_id  562768 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 21.5+ MB

In [7]:
df.to_parquet('/home/mc77916/data/ungrouped.parquet')

In [8]:
gr_df.to_parquet('/home/mc77916/data/grouped.parquet')

In [ ]:
gr_path = '/opt/sasdata/dev/PricingEngines/DiscountEngines/Russia/data/processed/offline/grouped/wap/'

gr_df=pd.DataFrame()
for item in os.listdir(gr_path) :
    for month in os.listdir(gr_path + item) :
        for file in os.listdir(gr_path + item + '/' + month) :
            
            temp_df = pd.read_parquet(gr_path + item + '/' + month + '/' + file)
            temp_df['sld_menu_itm_id'] = item.split('=')[1]
            gr_df = pd.concat([gr_df, temp_df])

gr_df.head()